[submodule "theme/boost_union"]
	path = theme/boost_union
	url = git@github.ncsu.edu:delta-appsdev/theme_boost_union.git
[submodule "report/rolesmigration"]
	path = report/rolesmigration
	url = git@github.ncsu.edu:delta-appsdev/report_rolesmigration.git
[submodule "mod/customcert"]
	path = mod/customcert
	url = git@github.ncsu.edu:delta-appsdev/mod_customcert.git
[submodule "mod/choicegroup"]
	path = mod/choicegroup
	url = git@github.ncsu.edu:delta-appsdev/mod_choicegroup.git
[submodule "mod/minilesson"]
	path = mod/minilesson
	url = git@github.ncsu.edu:delta-appsdev/mod_minilesson.git
[submodule "mod/readaloud"]
	path = mod/readaloud
	url = git@github.ncsu.edu:delta-appsdev/mod_readaloud.git
[submodule "mod/solo"]
	path = mod/solo
	url = git@github.ncsu.edu:delta-appsdev/mod_solo.git
[submodule "question/type/regexp"]
	path = question/type/regexp
	url = git@github.ncsu.edu:delta-appsdev/qtype_regexp.git
[submodule "question/behaviour/regexpadaptivewithhelp"]
	path = question/behaviour/regexpadaptivewithhelp
	url = git@github.ncsu.edu:delta-appsdev/qbehaviour_regexpadaptivewithhelp.git
[submodule "question/behaviour/regexpadaptivewithhelpnopenalty"]
	path = question/behaviour/regexpadaptivewithhelpnopenalty
	url = git@github.ncsu.edu:delta-appsdev/qbehaviour_regexpadaptivewithhelpnopenalty.git
[submodule "filter/poodll"]
	path = filter/poodll
	url = git@github.ncsu.edu:delta-appsdev/filter_poodll.git
[submodule "mod/assign/submission/cloudpoodll"]
	path = mod/assign/submission/cloudpoodll
	url = git@github.ncsu.edu:delta-appsdev/assignsubmission_cloudpoodll.git
[submodule "question/type/poodllrecording"]
	path = question/type/poodllrecording
	url = git@github.ncsu.edu:delta-appsdev/qtype_poodllrecording.git
[submodule "question/type/cloudpoodll"]
	path = question/type/cloudpoodll
	url = git@github.ncsu.edu:delta-appsdev/qtype_cloudpoodll.git
[submodule "mod/checklist"]
	path = mod/checklist
	url = git@github.ncsu.edu:delta-appsdev/mod_checklist.git
[submodule "course/format/tiles"]
	path = course/format/tiles
	url = git@github.ncsu.edu:delta-appsdev/format_tiles.git
[submodule "local/instructor_files"]
	path = local/instructor_files
	url = git@github.ncsu.edu:delta-appsdev/local_instructor_files.git
[submodule "lib/editor/atto/plugins/cloudpoodll"]
	path = lib/editor/atto/plugins/cloudpoodll
	url = git@github.ncsu.edu:delta-appsdev/atto_cloudpoodll.git
[submodule "lib/editor/atto/plugins/cloze"]
	path = lib/editor/atto/plugins/cloze
	url = git@github.ncsu.edu:delta-appsdev/atto_cloze.git
[submodule "lib/editor/atto/plugins/subtitle"]
	path = lib/editor/atto/plugins/subtitle
	url = git@github.ncsu.edu:delta-appsdev/atto_subtitle.git
[submodule "mod/hotquestion"]
	path = mod/hotquestion
	url = git@github.ncsu.edu:delta-appsdev/mod_hotquestion.git
[submodule "mod/wordcards"]
	path = mod/wordcards
	url = git@github.ncsu.edu:delta-appsdev/mod_wordcards.git
[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = git@github.ncsu.edu:delta-appsdev/block_quickmail.git
[submodule "lib/editor/atto/plugins/wordcount"]
	path = lib/editor/atto/plugins/wordcount
	url = git@github.ncsu.edu:delta-appsdev/atto_wordcount.git
[submodule "theme/ncsu"]
	path = theme/ncsu
	url = git@github.ncsu.edu:delta-appsdev/theme_ncsu.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = git@github.ncsu.edu:delta-appsdev/mod_attendance.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = git@github.ncsu.edu:delta-appsdev/mod_scheduler.git
[submodule "mod/zoom"]
	path = mod/zoom
	url = git@github.ncsu.edu:delta-appsdev/mod_zoom.git
[submodule "question/type/matrix"]
	path = question/type/matrix
	url = git@github.ncsu.edu:delta-appsdev/qtype_matrix.git
[submodule "plagiarism/turnitin"]
	path = plagiarism/turnitin
	url = git@github.ncsu.edu:delta-appsdev/plagiarism_turnitin.git
[submodule "report/advancedgrading"]
	path = report/advancedgrading
	url = git@github.ncsu.edu:delta-appsdev/report_advancedgrading.git
[submodule "mod/panoptosubmission"]
	path = mod/panoptosubmission
	url = git@github.ncsu.edu:delta-appsdev/mod_panoptosubmission.git
[submodule "blocks/panopto"]
	path = blocks/panopto
	url = git@github.ncsu.edu:delta-appsdev/block_panopto.git
[submodule "mod/hvp"]
	path = mod/hvp
	url = git@github.ncsu.edu:delta-appsdev/mod_hvp.git
[submodule "filter/h5p"]
	path = filter/h5p
	url = git@github.ncsu.edu:delta-appsdev/filter_h5p.git
[submodule "mod/wooclap"]
	path = mod/wooclap
	url = git@github.ncsu.edu:delta-appsdev/mod_wooclap.git
[submodule "mod/ncsubook"]
	path = mod/ncsubook
	url = git@github.ncsu.edu:delta-appsdev/mod_ncsubook.git
[submodule "blocks/library_reserves"]
	path = blocks/library_reserves
	url = git@github.ncsu.edu:delta-appsdev/block_library_reserves.git
[submodule "blocks/library_course_tools"]
	path = blocks/library_course_tools
	url = git@github.ncsu.edu:delta-appsdev/block_library_course_tools.git
[submodule "blocks/grade_me"]
	path = blocks/grade_me
	url = git@github.ncsu.edu:delta-appsdev/block_grade_me.git
