[submodule "theme/boost_union"]
	path = theme/boost_union
	url = git@github.ncsu.edu:delta-appsdev/theme_boost_union.git
[submodule "theme/ncsu"]
	path = theme/ncsu
	url = git@github.ncsu.edu:delta-appsdev/theme_ncsu.git
[submodule "report/rolesmigration"]
	path = report/rolesmigration
	url = git@github.ncsu.edu:delta-appsdev/report_rolesmigration.git
[submodule "blocks/studentsvcs"]
	path = blocks/studentsvcs
	url = git@github.ncsu.edu:delta-appsdev/block_studentsvcs.git
[submodule "blocks/deltatestingsvcs"]
	path = blocks/deltatestingsvcs
	url = git@github.ncsu.edu:delta-appsdev/block_deltatestingsvcs.git
[submodule "blocks/library_reserves"]
	path = blocks/library_reserves
	url = git@github.ncsu.edu:delta-appsdev/block_library_reserves.git
[submodule "blocks/library_course_tools"]
	path = blocks/library_course_tools
	url = git@github.ncsu.edu:delta-appsdev/block_library_course_tools.git
[submodule "blocks/massaction"]
	path = blocks/massaction
	url = git@github.ncsu.edu:delta-appsdev/block_massaction.git
[submodule "blocks/quickmail"]
	path = blocks/quickmail
	url = git@github.ncsu.edu:delta-appsdev/block_quickmail.git
[submodule "mod/attendance"]
	path = mod/attendance
	url = git@github.ncsu.edu:delta-appsdev/mod_attendance.git
[submodule "mod/choicegroup"]
	path = mod/choicegroup
	url = git@github.ncsu.edu:delta-appsdev/mod_choicegroup.git
[submodule "mod/hotquestion"]
	path = mod/hotquestion
	url = git@github.ncsu.edu:delta-appsdev/mod_hotquestion.git
[submodule "mod/minilesson"]
	path = mod/minilesson
	url = git@github.ncsu.edu:delta-appsdev/mod_minilesson.git
[submodule "mod/readaloud"]
	path = mod/readaloud
	url = git@github.ncsu.edu:delta-appsdev/mod_readaloud.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = git@github.ncsu.edu:delta-appsdev/mod_scheduler.git
[submodule "mod/solo"]
	path = mod/solo
	url = git@github.ncsu.edu:delta-appsdev/mod_solo.git
[submodule "mod/turnitintooltwo"]
	path = mod/turnitintooltwo
	url = git@github.ncsu.edu:delta-appsdev/mod_turnitintooltwo.git
[submodule "mod/wordcards"]
	path = mod/wordcards
	url = git@github.ncsu.edu:delta-appsdev/mod_wordcards.git
[submodule "mod/zoom"]
	path = mod/zoom
	url = git@github.ncsu.edu:delta-appsdev/mod_zoom.git
[submodule "question/type/regexp"]
	path = question/type/regexp
	url = git@github.ncsu.edu:delta-appsdev/qtype_regexp.git
