[submodule "theme/boost_union"]
	path = theme/boost_union
	url = git@github.ncsu.edu:delta-appsdev/theme_boost_union.git
[submodule "theme/ncsu"]
	path = theme/ncsu
	url = git@github.ncsu.edu:delta-appsdev/theme_ncsu.git
[submodule "report/rolesmigration"]
	path = report/rolesmigration
	url = git@github.ncsu.edu:delta-appsdev/report_rolesmigration.git
[submodule "blocks/studentsvcs"]
	path = blocks/studentsvcs
	url = git@github.ncsu.edu:delta-appsdev/block_studentsvcs.git
